---
import GeneralLayout from "../../layouts/GeneralLayout.astro";
import HeroSection from "../../components/HeroSection.astro";
import BlogDisplay from "../../components/blog/BlogDisplay.astro";
---

<GeneralLayout>
  <HeroSection
    title="Somos parte de la cadena de suministro global"
    description="Participamos en diferentes eventos y ferias comerciales alrededor del mundo para conectar con clientes y socios potenciales."
    video="/src/assets/blog-hero.mp4"
    ctaText="Conoce nuestros eventos"
    ctaLink="#eventos"
  />
  <BlogDisplay
    id="eventos"
    title="Nuestros Eventos"
    description="Participamos en diferentes eventos y ferias comerciales alrededor del mundo para conectar con clientes y socios potenciales."
    theme="light"
    limit={4}
  />
  <section class="bg-primary text-white py-8">
    <div class="general-padding">
      <h2 class="text-center text-5xl">Sé parte de nuestra historia</h2>
    </div>
  </section>
</GeneralLayout>
