---
import GeneralLayout from "@layouts/GeneralLayout.astro";
---

<GeneralLayout title="Mi página" description="Descripción específica">
  <!-- slot name="head" para agregar algo extra al head solo en esta página -->
  <link slot="head" rel="stylesheet" href="/estilos-especiales.css" />

  <h1>Contenido</h1>
</GeneralLayout>
